.node {
    width: 25px;
    height: 25px;
    outline: 1px solid rgb(175, 200, 250);
    border-top: 1px solid rgb(175, 200, 250);
    border-left: 1px solid rgb(175, 200, 250);
    display: inline-block;
}

.node:hover {
    opacity: 0.75;
}

.node:last-child {
    border-right: 1px solid rgb(175, 200, 250);
}

.node-finish {
    background-color: red;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.3);
}

.node-start {
    background-color: #80ed99;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.3);
}

.node-wall {
    background-color: rgb(12, 53, 71);
    animation: wallAnimation 0.05s ease-out;
}

@keyframes wallAnimation {
    0% {
        transform: scale(0.25);
    }

    50% {
        transform: scale(0.6);
    }

    100% {
        transform: scale(1);
    }
}

.node-visited {
    animation: visitedAnimation 0.5s ease forwards;
}

.node-unvisited {
    background-color: rgb(255, 164, 164);
}

@keyframes visitedAnimation {
    50% {
        background-color: red;
    }

    75% {
        background-color: rgba(17, 104, 217, 0.75);
    }

    100% {
        background-color: rgba(0, 190, 218, 0.75);
    }
}

.node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes shortestPath {
    0% {
        transform: scale(0.6);
        background-color: #3db2ff;
    }

    50% {
        transform: scale(1.2);
        background-color: #2a0944;
    }

    100% {
        transform: scale(1);
        background-color: #ffd371;
        /* outline: 1px solid #003638; */
        box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.3);
    }
}
