/* html {
    overflow: hidden;
} */

.grid {
    margin: 40px 0 0;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.3);
}

.row-default {
    display: flex;
    justify-content: center;
}

/* .row-default:last-child {
    border-right: 20px solid rgb(175, 200, 250);
} */

h1 {
    margin-top: 3rem;
}

.main {
    height: 100%;
}
